.comparison-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .comparison-table th {
    background-color: #119aaf;
    color: #fff;
  }

  .comparison-table td:first-child {
    font-weight: bold;
    color: #333;
    width: 20%;
  }

  .comparison-table th,
  .comparison-table td {
    border: 1px solid #36cfe7;
    padding: 12px;
    text-align: left;
    vertical-align: top;
  }

  .comparison-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }